{% extends 'base.html' %}

{% block content %}

<section class="cards">
    
    
    <div class="container " >
        <div class="mbr-section-head">
            <h4 class=" align-center mb-0 ">
                <strong>Kenya Universities </strong></h4>
        </div>
        <div class="row mt-4 ">
            {% for university in universities %}
            <div class="item features-image сol-12 col-md-6 col-lg-3">
                <div class="item-wrapper"style="border:2px solid black; background-color: black;">
                    {% if university.image%}
                    <div class="item-img">
                        <img src="{{university.image.url}}" alt="university image" style="height: 50vh" width="100%">
                    </div>
                    {%endif%}
                    <div class="item-content">
                        <a href="{{university.about}}" target="_blank"><h5 class="item-title"><strong>{{university.name | truncatewords:3}}</strong></h5>
                        </a>
                        <p class="">{{university.location}} </p>
                    </div>
                    
                </div><br>
            </div>
            {% endfor%}
        </div>
    </div>
</section>


{% endblock  %}



