
{% load static %}
<html>
<head>
    <title>career edge</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
<div class="brand">
    <a  href="{% url 'course:courses' %}">
        <h1 style="margin-left: 5px;">< back to home</h1>
    </a>
</div>
<div class ="login-form qualification-form" >
         <img src="{% static 'css/images/logo.png' %}" height=" 200px" width="100%"><br>
        <h1 class="text-blue">Be our patner </h1>
        <form action="lipa_na_mpesa_online" method="post" class="text-align">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group ">
                    <label >Group Enter phone number:</label>
                    <input type="number"  name="number" class="form-control"  placeholder="254********" required>
                </div><br>
                <div class="form-group">
                    <label >Enter amount to donate:</label>
                    <input type="number" min="1" name="amount" class="form-control"  placeholder="eg 1" required>
                </div>
            <input type="submit" name="click here then wait for stk push" class="btn btn-secondary">
        </form>
    </div>
</body>
</html>







