body{
   background-color :#393944;
    align-items: center;
}

/*login page*/
.container{
     margin-left: 35%;
}

.login--wrapper{
    display: flex;
    height: 80vh;
    align-items: center;
    justify-content: center;

}
#login-logo{
    width: 60%;
    padding: 10px;
    color: #ffff;
    font-size: 40px;
    text-transform: uppercase;
}
.login-form{
    border: 2px solid #666699;
    width: 550px;
    background-color: #ffff;
    margin-top: 40px;
    margin-left: 30%;
}
.text-align{
    margin: 5px;
    padding :5px;
}
.text-align img{
    padding-left :60px;
    padding-right :60px;
}
.text-align hr{
    border: 2px solid #666699;
}

#hint_id_username, #hint_id_password1,#hint_id_password2{
    display: none;
    }

/*sign up*/
#back-home{
    float: left;
    color: white;
    font-size: 20px;
}

/*qualification page*/
.qualification-form{
    padding : 13px;
    box-shadow: 20px 20px 25px #9696a1;
    font-size:20px;
    text-transform: uppercase;
}
.table th, td {
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 40px;
}

/*entries page*/
#university-p{
    color : #ff8000




