{% extends 'base.html' %}

{% block content %}
{% load static%}
<div class="course-name bg-white about-us">
    <img src="{% static 'css/images/logo.png' %}" height="370px" width="370px" align="right">
    <h1>Welcome to Career Edge System</h1><br>
    <p>we offer free career guidance services based on on's personality and the qualification
        that will aid one in making the right career choices</p>
    <br>
    <p>
        we are fully online where one can seek the guidance at their convenient time
    </p>
    <p>we are working on creating a community where one can interact with a career counselor
        for further guidance
    </p>

</div>

{% endblock  %}
























