{% extends 'base.html' %}

{% block content %}
{% load static %}
<div class="find-more-about-each-category">
 <h1 class="cat-heading">Realistic careers</h1>
 <img src="{% static 'css/images/realistic.png' %}" height="370px" width="370px" align="right">
 <p>These are the skills and technical orient- ed jobs. Work here involves tangible and practical skills
  where people work with tools, machines,plants and animals. The people in these jobs are highly practical
  and physically strong. They often enjoy dealing with things rather than people. They are good in technical
subjects such as: Agriculture, Metalwork, Woodwork, Homescience, Technical Drawing,and Design among others.</p>
<br>
<h3><bold>They excel in</bold>:</h3>
 <ul>
  <li>All kinds of engineering such as electrical mechanical and Agricultural engineering</li>
  <li>Wildlife management</li>
  <li>Wood science and technology</li>
  <li>Armed forces and related careers</li>
</ul> <hr>
 <h1 class="cat-heading">Investigative Careers </h1>
 <img src="{% static 'css/images/investigative.png' %}" height="370px" width="370px" align="right">
 <p>
  The professionals here are scientific and laboratory-oriented. They have a high curiosity, intellectual input
and empirical approach to issues. Their work involves analyzing facts, solving puzzles, dealing with charts, numbers, formulae,
graphs and data processing. These people enjoy observing, studying, analyzing, interpreting and solving complex challenges. They do well in leadership positions, social gatherings and activities.
</p>
 <h3><bold>They are good in</bold>:</h3>
 <ul>
  <li>Mathematics and the sciences</li>
  <li>Business studies</li>
 </ul>
 <h3><bold>They excel in</bold>:</h3>
 <ul>
  <li>Medicine</li>
  <li>Architecture</li>
  <li>Microbiology and related courses</li>
  <li>Criminal investigations</li>
  <li>Accounting, statisticaI analysis money, financial and related fields</li>
  <li>Veterinary, zoology and related fields</li>
  <li>Computer science and information communication technology</li>
 </ul>
<br><hr>
 <h1 class="cat-heading">Artistic careers</h1>
 <img src="{% static 'css/images/artistic.png' %}" height="370px" width="370px" align="right">
 <p>
  Those who excel in these careers are arts-oriented, creative, expressive and aesthetically conscious. Their jobs involve a lot of imagination. Consequently, those who excel
here are highly original, emotional, non conforming, unconventional, independent, idealist and introspective. They take risks and like producing distinct products
 </p>
 <h3><bold>They are good in</bold>:</h3>
 <ul>
  <li>Languages</li>
  <li>Literature</li>
  <li>Drawing and design</li>
  <li>Music</li>
 </ul>
 <h3><bold>They excel in</bold>:</h3>
  <ul>
  <li>Drama and theatre arts</li>
  <li>Graphic designing</li>
  <li>Literary studies</li>
  <li>Writing, painting and poetry</li>
   <li>Acting</li>
  <li>Home decorating, fabric designing</li>
   <li>Photography, singing, drawing cartoons</li>
 </ul>
 <br><hr>
 <h1 class="cat-heading">Social Careers</h1>
 <img src="{% static 'css/images/social.png' %}" height="370px" width="370px" align="right">
 <p>
   These involve working with people. Those who excel here have an inner urge for helping others. They like
training, informing, enlightening, arbitrating and organizing other people. They are sociable, friendly, understanding, empathetic,
generous, helpful, cooperative, responsible and hard Working. Often, they are sober, welfare - minded and articulate.
 </p>
<h3><bold>They are good in:</bold></h3>
<ul>
 <li>Languages</li>
 <li>Literature</li>
 <li>Humanities</li>
 <li></li>
</ul>
 <h3><bold>They excel in:</bold></h3>
<ul>
 <li>Administration</li>
 <li>Education</li>
 <li>Law</li>
 <li>Theology</li>
 <li>Journalism and mass communication</li>
 <li>Human and public relations</li>
 <li>Political science and related fields</li>
 <li>Counseling</li>
</ul>
<br><hr>
 <h1 class="cat-heading">Enterprising careers</h1>
 <img src="{% static 'css/images/enterprising.png' %}" height="370px" width="370px" align="right">
 <p>These careers involve influencing and persuading other people. There is a lot of goal and profit orientation
in these jobs. Those who excel are enterprising, ambitious, talkative, argumentative and domineering self confident, optimistic, sociable,
competitive, impulsive and persuasive. They enjoy chairing meetings and committees. Often they run for elected offices, head important functions and motivate others.</p>
 <h3><bold>They are good in:</bold></h3>
<ul>
 <li>Mathematics</li>
 <li>Business studies</li>
 <li>Science</li>
</ul>
 <h3><bold>They excel in:</bold></h3>
<ul>
 <li>Business management</li>
 <li>Sales and marketing</li>
 <li>Hotel management</li>
 <li>Politics</li>
 <li>Industrial consultancy and related fields</li>
</ul>
<br><hr>
 <h1 class="cat-heading">Conventional Careers</h1>
 <img src="{% static 'css/images/conventional.png' %}" height="370px" width="370px" align="right">
 <p>The careers here involve highly orderly, routine and practical jobs. Often, there are some inflexible activities. Those who excel have
a common denominator of being obedient, practical, calm and orderly. They are also efficient and conforming.</p>
 <h3><bold>They are good in:</bold></h3>
<ul>
 <li>Business studies</li>
 <li>Computer and office practice</li>
 <li>Home science</li>
 <li>Sciences</li>
</ul>
 <h3><bold>They excel in:</bold></h3>
<ul>
 <li>Accounting</li>
 <li>Bookkeeping</li>
 <li>Auditing</li>
 <li>Statistics</li>
 <li>Inventory control</li>
 <li>Store keeping</li>
 <li>Secretarial</li>
 <li>Office management and Computer operations</li>
</ul>
<br><hr>
</div>



{% endblock  %}

