{% extends 'base.html' %}

{% block content %}
{% load static%}
<div class="course-name bg-white about-us">
    <marquee> <h1>Thanks for considering our systems's services</h1><br></marquee>
    <img src="{% static 'css/images/logo.png' %}" height="370px" width="370px" align="right">
    <h1 style="text-decoration: underline;text-transform: uppercase;" class="course-name">contact us though:</h1><br>
        <ul>
            <li>EMAIL: careeredge@gmail.com</li><br>
            <li>Phone: +254719731264</li><br>
            <li>Twitter: career_99</li><br>
            <li>Twitter: Facebook: Career Edge</li>
        </ul>
</div>

{% endblock  %}
























