{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>career guidance</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static '/img/favicon.png" rel="icon">
  <link href="{% static '/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- animated CSS Files -->
  <link href="{% static '/animated/aos/aos.css ' %}" rel="stylesheet">
  <link href="{% static '/animated/bootstrap/css/bootstrap.min.css ' %}" rel="stylesheet">
  <link href="{% static '/animated/bootstrap-icons/bootstrap-icons.css ' %}" rel="stylesheet">
  <link href="{% static '/animated/boxicons/css/boxicons.min.css ' %}" rel="stylesheet">
  <link href="{% static '/animated/glightbox/css/glightbox.min.css ' %}" rel="stylesheet">
  <link href="{% static '/animated/remixicon/remixicon.css ' %}" rel="stylesheet">
  <link href="{% static '/animated/swiper/swiper-bundle.min.css ' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static '/css/style.css ' %}" rel="stylesheet">

</head>

<body>

 <!-- ======= Header ======= -->
 <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="{% url 'course:index' %}">Career guidance</a></h1>
      <!-- <a href="#" class="logo me-auto"><img src="{% static '/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="menu-bar" class="menu-bar">
        <ul>
          <li><a class="nav-link scrollto active" href="{% url 'course:index' %}">Home</a></li>
          <li><a class="getstarted scrollto" href="{% url 'course:querying'%}">consult</a></li>
          <li class="dropdown"><a href="#"><span>Courses</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="{% url 'course:realistic_courses'%}">Realistic career related courses</a></li>
              <li><a href="{% url 'course:investigative_courses'%}">Investigative career related courses</a></li>
              <li><a href="{% url 'course:artistic_courses'%}">Artistic career related courses</a></li>
              <li><a href="{% url 'course:social_courses'%}">Social career related courses</a></li>
              <li><a href="{% url 'course:enterprising_courses'%}">Enterprising career related courses</a></li>
              <li><a href="{% url 'course:conventional_courses'%}">Conventional career related courses</a>  </li>
            </ul>
          </li>
          <li class="dropdown"><a href="#"><span>Universities</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="{% url 'course:private_universities'%}">private Universities</a></li>
              <li><a href="{% url 'course:public_universities'%}">Public Universities</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="{% url 'course:about' %}">About</a></li>
          <li><a class="nav-link scrollto" href="{% url 'course:contact' %}">Contact</a></li>
          
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .menu-bar -->

    </div>
  </header><!-- End Header -->

<main id="main">
    {% block content %}
    {% endblock content %}
</main><!-- End main -->

<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6">
          <div class="footer-info">
            <h3>Developer<span></span></h3>
            <p>
               Noel K Langat <br>
              <strong class="bi bi-phone" style="color: rgb(177, 51, 26);"></strong>  +254 719 731 254<br>
              <strong class="bi bi-envelope" style="color: rgb(177, 51, 26);"></strong>  noelkipronolangat@gmail.com<br>
            </p>
            <div class="social-links mt-3">
              <a href="https://twitter.com/langatNoel" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="https://web.facebook.com/nola.kiprono" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="https://www.instagram.com/noellangat282020/" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="https://www.linkedin.com/in/noel-langat-6b9aab210/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              <a href="https://github.com/noelkips" class="github"><i class="bx bxl-github"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="{% url 'course:index'%}">Home</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="{% url 'course:about'%}">About us</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="{% url 'course:querying'%}">consult</a></li>
           
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Career guidance</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Course finder</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">University finder</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Cut off filter</a></li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-6 footer-newsletter">
          <h4>Newsletter & Updates</h4>
          <p>Subcribe to our newsletter to get periodic updates on the changes in cut off and any other new updates
            concerning careers
          </p>
          <form action="#" method="#">
            <input type="email" name="email" placeholder="eg. careerguidance@gmail.com"><input type="submit" value="Subscribe">
          </form>

        </div>

      </div>
    </div>
  </div>
</footer><!-- End Footer -->


<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- animated JS Files -->
<script src="{% static '/animated/aos/aos.js' %}"></script>
<script src="{% static '/animated/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static '/animated/glightbox/js/glightbox.min.js' %}"></script>
<script src="{% static '/animated/isotope-layout/isotope.pkgd.min.js' %}"></script>
<script src="{% static '/animated/swiper/swiper-bundle.min.js' %}"></script>
<script src="{% static '/animated/waypoints/noframework.waypoints.js' %}"></script>

<!-- Template Main JS File -->
<script src="{% static '/js/main.js' %}"></script>

</body>

</html>